@import "./_mixins.scss";

.pointer {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus {
  outline: none !important;
}

.image-hover {
  overflow: hidden;

  div,
  div:hover,
  a,
  a:hover {
    overflow: hidden;
    border-radius: 5px;
  }
}

.image-hover img,
.image-hover .thumb-title {
  transform: scale(1);
  transition: 0.4s ease-in-out;
}

.image-hover:hover img {
  transform: scale(1.15);
  opacity: 0.8;
  border-radius: 5px;
}

.btn-hover {
  @include transition(all 0.5s);
  color: rgba(255, 255, 255, 1);
  position: relative;

  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    @include transition(all 0.3s);
  }

  &:hover::before {
    opacity: 1;
    width: 100%;
  }
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.9;
}

.err-msg {
  color: red;
  margin-top: 5px;
  font-size: 1.2rem;
  text-align: right;
  min-height: 18px;
}

html {
  font-family: var(--font-sans);
}

.app-wrapper {
  // overflow-x: hidden;
  // overflow-y: hidden;
  position: relative;
}

#__next-prerender-indicator {
  display: none;
}

.hover-img {
  overflow: hidden;

  img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }

  &:hover img {
    transform: scale(1.1) rotate(2deg);
  }
}

.hover-raise {
  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #F89A3E;
    transition: all 0.25s !important;
    transform: translateY(-0.25em) !important;
  }
}

.hover-scale {
  transition: 0.2s ease-in-out 0s;

  &:hover {
    z-index: 2;
    transform: scale(1.1) !important;
  }
}

.hover-slide {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s;
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 0;
  }

  &:hover::after {
    width: 100%;
  }
}

.hover-slide-purple {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in;
    @apply bg-purple-400;
    height: 100%;
    width: 0;
    z-index: -1;
  }

  &:hover::after {
    width: 100%;
  }
}

.blur-1x {
  -webkit-filter: blur(1px);
  -o-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
}

.line-clamp-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}

.transition-h {
  overflow: hidden;
  transition: all 0.35s ease;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.medium {
  font-weight: 600;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.embla {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hover-news {
  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: .3s ease-in-out;
  }
  &:hover img {
    -webkit-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
  }
}

.title {
  display: inline-block;
  position: relative;
  padding: 0 15px 0 20px;
  margin: 6px 0 4px 0;

  &::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 5px;
    top: 8px;
    bottom: 5px;
    -webkit-transform: skew(-20deg);
    -khtml-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    background-color: #dd3333;
  }
}

.quiz-detail {
  .ant-radio-wrapper-disabled, .ant-checkbox-disabled+span {
    color: black !important;
  }
}


.modal-wrapper {
  &.ant-modal {
    top: 50px !important;
  }
  .ant-modal-content {
    @apply rounded-lg text-black;
  }
  .ant-modal-header {
    @apply relative text-white rounded-tl-lg rounded-tr-lg;
  }
  .ant-modal-title {
    @apply text-center text-lg;
  }
  .ant-modal-body {
    max-height: 75vh;
    overflow-y: auto;
  }
  .ant-modal-footer {
    @apply flex justify-center;
  }
}

.content {
  p, div, span {
    line-height: 28px;
    text-align: justify;
  }
  h2, h3 {
    line-height: 32px;
  }
  img, table {
    width: 100%;
    margin: 12px 0;
  }
}

.dropd {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
  }
}